.StopCheckboxes {

}

.checkboxContainer {
    width: 100%;
    padding: 10px;
    display: grid;
    justify-content: space-between;
    grid-auto-flow: column;
    transition: 0.3s;

    &:hover {
        background-color: var(--hover-color);

        & .only {
            display: block;
        }
    }
}

.only {
    display: none;
    cursor: pointer;
    color: var(--secondary-color);
}