.dark {
    --bg-color: #010409;
    --inverted-bg-color: #e8e8ea;

    --primary-color: black;
    --secondary-color: #2196f3;
    --inverted-primary-color: #0232c2;
    --inverted-secondary-color: #0452ff;
    --bg-card: #161b22;
    --text-color: #e6edf3;
    --box-shadow: 0px 0px 3px 0px rgba(255, 255, 255, 0.2) inset;
    --hover-color: #afecff21;
    --border-color: #2196f3;
}
