:root {
    --bg-color: rgb(243,247,250);
    --inverted-bg-color: #090949;
    --primary-color: black;
    --secondary-color: #2196f3;
    --inverted-primary-color: #04ff04;
    --inverted-secondary-color: #049604;
    --bg-card: white;
    --button-color: #ff6d00;
    --hover-button-color: #d45500;
    --hover-color: #afecff21;
    --text-color: black;
    --borderWidth-thin:  max(1px, 0.0625rem);
    --color-border-default: #30363d;
    --border-color: #f0f0f1;
}