.main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 15px;

    @media screen and (max-width: 1224px) {
        grid-template-columns: auto;
    }
}

.sidebar {
    display: grid;
    height: 65vh;
    align-content: start;
    position: sticky;
    top: 20px;
    transition: all 0.3s;
}

@media screen and (max-width: 1224px) {
    .sidebar {
        position: fixed;
        bottom: -100vh;
        top: unset;
        background-color: var(--bg-card);
        border-radius: 15px;
        z-index: 10;
        border: var(--color-border-default) 1px solid;
        right: 60px;

        &.opened {
            bottom: 120px;
            right: 60px;
        }
    }
}

.settings {
    &__button {
        width: 60px;
        height: 60px;
        background-color: var(--bg-card);
        border-radius: 50%;
        position: fixed;
        bottom: 50px;
        right: 50px;
        box-shadow: var(--box-shadow);
        border: 1px solid var(--button-color);
        display: grid;
        justify-content: center;
        align-items: center;
    }
}
